@import "../assets/switcher/css/switcher.css";
@import "../assets/switcher/demo.css";

.button-wizzard {
    width: 100%;
}

.prev {
    background-color: rgba(128, 128, 128, 0.822) !important;
    border-color: rgba(128, 128, 128, 0.822) !important;
}
.prev:hover {
    background-color: gray !important;
    border-color: gray !important;

}

.register-href {
    color:skyblue !important;
}